:root {
  --font: 'Roboto', sans-serif;
  --primary-color: #1e283a;
  --secondary-color: #2d394b;
  --white-color: #ffffff;
  --black-color: #1e283a;
  --red-color: #e4012e;
  --gray-color-text: #8595a2;


}
a{
  text-decoration: none;
}
.nav-top{
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #EB7C15;
  padding: 5px;
}
.icons-social-media{
  width: 20px;
  height: 20px;
  color: #1E283A;
}
.span-text{
  font-size: 12px;
  color: #1E283A;
}
.nav-top-location{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #1E283A;
}

.icon-location{
  width: 18px;
  height: 18px;
  fill: #1E283A;
}
.nav-top-contact{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.nav-top-contact > a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

@media screen and (min-width:765px){
  .nav-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}
@media screen and (min-width:1024px){
  
}